.body {
  display: block;
  width: 650px;
  font-family: 'Inter', sans-serif;
  margin: 5px auto;
  color: #ECE5EA;
}
.canva {
  background-color: rgb(214, 185, 204);
  padding:  10px 28px ;
}

.main {
margin: 15px;
}

table {
  width: 100%;
  vertical-align: middle;
}

.mainBody {
  text-align: left;
  vertical-align: middle;
}
.weatherBody {
  text-align: right !important;
  vertical-align: middle;
  padding-right: 40px;
}


.Search{
  display: flex;
}

.form-control {
  width: 350px !important;
  height: 30px !important;
  margin: 5px !important;
  font-size: 12px;
  margin: 50px;
  border: none;
  color: #894D75;
  padding-left: 5px;
  }

.form-control:hover, .form-control:focus {
  background-color: #ebe0e7;
  outline: 0;
  }
  

.btn {
  width: 150px;
  height: 30px;
  font-size: 14px;
  background-color: #ce9abd !important;
  color: #fdfcfb;
  border-radius: 2px;
  border: none;
  margin: 5px !important;
}

.btn:hover {
  cursor: pointer;
  background-color: #b46c9c !important;
}

.value {
  font-size: 52px;
  vertical-align: middle;
}
.main {font-weight: 400;
font-size: 14px;}

h1 {font-size: 38px;}

img {
  vertical-align: middle;
}

hr {
  height: 1px;
  background-color: #894D75;
  border: none;
  margin: 10px;

}

.dayTemp {
  text-align: center;
  padding-bottom: 15px;
}



footer {color: #894D75;
font-size: 12px;}
