.body {
  width: 650px;
  border-radius: 30px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  font-family: "Montserrat", sans-serif;
  opacity: 85%;
  margin: 5px;
}

table {
  width: 100%;
  vertical-align: middle;
}

.mainBody {
  text-align: left;
  vertical-align: middle;
}
.weatherBody {
  text-align: right !important;
  vertical-align: middle;
  padding-right: 40px;
}


.Search{
  display: flex;
}

.form-control {
  width: 350px !important;
  height: 35px !important;
  margin: 5px !important;
  font-style: italic;
  font-size: 14px;
  margin: 50px;
  border-radius: 5px;
}
.form-control:hover {
  border-width: 3px;
  border-color: #73abb7;
}

.btn {
  width: 150px;
  height: 35px;
  font-size: 14px;
  background-color: #73abb7 !important;
  color: #fdfcfb;
  border-radius: 5px;
  border-color: #73abb7;
  margin: 5px !important;
}

.btn:hover {
  cursor: pointer;
  border-width: 3px;
}

.value {
  font-size: 52px;
  vertical-align: middle;
}

img {
  vertical-align: middle;
}

.dayTemp {
  text-align: center;
  padding-bottom: 15px;
}

