:root {
  --primary-color: rgb(214, 185, 204);
  --seconsary-color: #894D75;
  --elements-color: #5E013F;
  --text-color:  #F4F3F3;
 
}


.body {
  display: block;
  max-width: 650px;
  font-family: 'Inter', sans-serif;
  margin: 5px auto;
  color: var(--text-color);
}
.canva {
  background-color: var(--primary-color);
  padding:  10px 28px ;
}

.main {
margin: 15px;
}

h1 {font-weight: 900 !important;}

.mainBody {
  text-align: left;
  vertical-align: middle;
}
.weatherBody {
  text-align: right !important;
  vertical-align: middle;
  padding-right: 40px;
}

p {margin-top: 5px;
  margin-bottom: 10px !important;
   font-size: 12px;
   font-weight: 600;
   text-align: center;
}

.Search{
  display: flex;
}

.form-control {
    height: 30px !important;
  margin: 5px !important;
  font-size: 12px !important;
  margin: 50px;
  border: none;
  border-radius: 2px !important;
  color: var(--secondary-color);
  padding-left: 5px;
  }

.form-control:hover, .form-control:focus {
  background-color: var(--text-color);
  outline: 0;
  }
  

.btn {
  width: 150px;
  height: 30px;
  font-size: 14px !important;
  background-color: #ce9abd !important;
  color: #fdfcfb;
  border-radius: 2px;
  border: none;
  margin: 5px !important;
  padding: 0 !important;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--secondary-color) !important;
}

.value {
  font-size: 52px;
  font-weight: 900;
  vertical-align: middle;
}
.main {font-weight: 400;
font-size: 14px;}

h1 {font-size: 38px;}



hr {
  color: var(--elements-color)  !important;
}

.forecastInfo {
text-align: center !important;
vertical-align: middle !important;

}
.dayTemp {
  text-align: center;
}


.accordion-button {
  height: 15px;
  font-size: 12px !important;
  background-color: var(--elements-color) !important;
  color: var(--text-color) !important;

}

.collapsed {
  color: var(--text-color) !important
}

.accordion-body {
  background-color: var(--primary-color) !important;
}

.header, .fday {
  font-weight: 600 !important;
}
.header, .winfo, .fday{
  color: var(--text-color) !important;
  text-align: center;
  vertical-align: middle;
  
}

.weather-forecast {
  text-align: center;
}


footer {color: var(--elements-color);
font-size: 12px;
margin: 3px;}
